<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5wbXNw
			RmlsZTwva2V5PgogICAgPGludGVnZXI+MzwvaW50ZWdlcj4KICAg
			IDxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJvZmlsZTwva2V5PgogICAg
			PGRpY3Q+CiAgICAgIDxrZXk+U2lsZW50UnVubmluZzwva2V5Pgog
			ICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+ZW5hYmxlcjwva2V5Pgog
			ICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+QUdQTTwva2V5PgogICAg
			ICA8dHJ1ZS8+CiAgICAgIDxrZXk+QVNQTTwva2V5PgogICAgICA8
			dHJ1ZS8+CiAgICAgIDxrZXk+UHVibGlzaEJhdHRlcnlGYWN0b3Jz
			PC9rZXk+CiAgICAgIDx0cnVlLz4KICAgICAgPGtleT5TdGFuZGJ5
			RGVsYXlIaWdoPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjQyMDA8L2lu
			dGVnZXI+CiAgICAgIDxrZXk+U3RhbmRieURlbGF5PC9rZXk+CiAg
			ICAgIDxpbnRlZ2VyPjQyMDA8L2ludGVnZXI+CiAgICAgIDxrZXk+
			U3RhbmRieUJhdHRlcnlUaHJlc2hvbGQ8L2tleT4KICAgICAgPGlu
			dGVnZXI+NTA8L2ludGVnZXI+CiAgICAgIDxrZXk+QXV0b1Bvd2Vy
			T2ZmPC9rZXk+CiAgICAgIDx0cnVlLz4KICAgICAgPGtleT5Qcm94
			aW1pdHlXYWtlPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjA8L2ludGVn
			ZXI+CiAgICAgIDxrZXk+SU9QbGF0Zm9ybVN5c3RlbVNsZWVwUG9s
			aWN5PC9rZXk+CiAgICAgIDxkYXRhPlUweFFWQUlBRWdDRUhoSUFC
			QUFBQUFBVUFBQUFCQUFBQmdBQUFBQUFBQUFQSlFBQUFBQUFBSVFl
			RWdBRUFBQUFBQmdBQUFBSUFBQUYKQUFBQUFBQUFBQThsQUFBQUFB
			QUFoQjRTQUFRQUFBQUlFQUFBQ0FBQUFBVUFBQUFBQUFBQUR5VUFB
			QUFBQUFBZ0FBQUFJQUFBQUFBQQpBQUFBQUFBQUJRQUFBQUFBQUFB
			UEpRQUFBQUFBQUFnQUFBQUlBQUFBQUFBQUFBQUFBQUFFQUFBQUFB
			QUFBQUFCQUFBQkFBQUFBQUFFCkFBQUFCQUFBQUFBQUFBQUFBQVVB
			QUFBQUFBQUFEeVVBQUFBQUFBQUFBQUVBQUFBQkFBQUFBQUFBQUFB
			QUJBQUFBQUFBQUFBQUFRQUEKQUFBQUFNUVdBQUFBQUFBQUNBQUFB
			QWdBQUFBRkFBQUFBQUFBQUE4bEFBQUFBQUFBeEJZUUFBQUFFQUFn
			UUFBQUlFQUFBQUlBQUFBSQpBQUFBRHowQUFBQUFBQURFRmdBQUFB
			QUFBQ0FBQUFBZ0FBQUFCUUFBQUFBQUFBQVBKUUFBQUFBQUFOUVdB
			QUFRQUFBQUFBQUFBQUFBCkFBQUZBQUFBQUFBQUFBOGxBQUFBQUFB
			QXhCNFNBRVFBQUFBR0VBQUFCZ0FBQUFNQUFBQUNBQUFBRHowQUFB
			QUFBQUNFSGhJQUJBQUEKQUFBUUFBQUFBQUFBQWdBQUFBSUFBQUFQ
			UFFBQUFBQUFBTVFXQUFBQUFBQUFBTUFBQUFEQUFBQUNBQUFBQ0FB
			QUFBODlBQUFBQUFBQQp4QllBQUFBQUFBQUlnQUFBQ0lBQUFBVUFB
			QUFBQUFBQUR5VUFBQUFBQUFERUZnQUFBQUFBQUFBQUFBQUFBQUFB
			QWdBQUFBRUFBQUFQClBRQUFBQUFBQUVBQUFBQkFBQUFBQmdBQUFB
			WUFBQUFEQUFBQUFBQUFBQTgxQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBSUEKQUFBQUFBQUFEelVBQUFBQUFBQT08L2RhdGE+
			CiAgICAgIDxrZXk+RmFuVGhyb3R0bGVkUlBNPC9rZXk+CiAgICAg
			IDxpbnRlZ2VyPjIwMDA8L2ludGVnZXI+CiAgICAgIDxrZXk+cmlu
			Z0ZyZXFUYWJsZXM8L2tleT4KICAgICAgPGFycmF5PgogICAgICAg
			IDxhcnJheT4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8
			a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj43
			MDA8L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8
			L2tleT4KICAgICAgICAgICAgPGludGVnZXI+MTEwMDwvaW50ZWdl
			cj4KICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxkaWN0Pgog
			ICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAg
			ICA8aW50ZWdlcj43NTA8L2ludGVnZXI+CiAgICAgICAgICAgIDxr
			ZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVnZXI+
			MTEwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4KICAgICAg
			ICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5
			PgogICAgICAgICAgICA8aW50ZWdlcj44MDA8L2ludGVnZXI+CiAg
			ICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAg
			ICAgPGludGVnZXI+MTIwMDwvaW50ZWdlcj4KICAgICAgICAgIDwv
			ZGljdD4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5
			Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj44NTA8
			L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tl
			eT4KICAgICAgICAgICAgPGludGVnZXI+MTMwMDwvaW50ZWdlcj4K
			ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxkaWN0PgogICAg
			ICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8
			aW50ZWdlcj45MDA8L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+
			cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVnZXI+MTYw
			MDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4KICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5Pgog
			ICAgICAgICAgICA8aW50ZWdlcj45NTA8L2ludGVnZXI+CiAgICAg
			ICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAg
			PGludGVnZXI+MTcwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGlj
			dD4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMDAwPC9p
			bnRlZ2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+
			CiAgICAgICAgICAgIDxpbnRlZ2VyPjE4MDA8L2ludGVnZXI+CiAg
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8ZGljdD4KICAgICAg
			ICAgICAgPGtleT5ndEZyZXE8L2tleT4KICAgICAgICAgICAgPGlu
			dGVnZXI+MTA1MDwvaW50ZWdlcj4KICAgICAgICAgICAgPGtleT5y
			aW5nRnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xOTAw
			PC9pbnRlZ2VyPgogICAgICAgICAgPC9kaWN0PgogICAgICAgICAg
			PGRpY3Q+CiAgICAgICAgICAgIDxrZXk+Z3RGcmVxPC9rZXk+CiAg
			ICAgICAgICAgIDxpbnRlZ2VyPjExMDA8L2ludGVnZXI+CiAgICAg
			ICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAg
			PGludGVnZXI+MjAwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGlj
			dD4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMTUwPC9p
			bnRlZ2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+
			CiAgICAgICAgICAgIDxpbnRlZ2VyPjIxMDA8L2ludGVnZXI+CiAg
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8ZGljdD4KICAgICAg
			ICAgICAgPGtleT5ndEZyZXE8L2tleT4KICAgICAgICAgICAgPGlu
			dGVnZXI+MTIwMDwvaW50ZWdlcj4KICAgICAgICAgICAgPGtleT5y
			aW5nRnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4yMjAw
			PC9pbnRlZ2VyPgogICAgICAgICAgPC9kaWN0PgogICAgICAgICAg
			PGRpY3Q+CiAgICAgICAgICAgIDxrZXk+Z3RGcmVxPC9rZXk+CiAg
			ICAgICAgICAgIDxpbnRlZ2VyPjEyNTA8L2ludGVnZXI+CiAgICAg
			ICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAg
			PGludGVnZXI+MjMwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGlj
			dD4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMzAwPC9p
			bnRlZ2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+
			CiAgICAgICAgICAgIDxpbnRlZ2VyPjIzMDA8L2ludGVnZXI+CiAg
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgPC9hcnJheT4KICAgICAg
			PC9hcnJheT4KICAgICAgPGtleT5TdGVwQ29udGV4dERpY3Q8L2tl
			eT4KICAgICAgPGRpY3Q+CiAgICAgICAgPGtleT5Ob3JtYWw8L2tl
			eT4KICAgICAgICA8ZGF0YT4KUEFnQUFBQUFBUUlFQUFBQ0FnQUFi
			Z0J2QUhJQWJRQnBBSFlBWWdCdEFHSUFjQUJ5QUc4QWNnQXdCUUFB
			QVFJQUIvOEhBQUFyQUFBQQpFUVFBQUFJQWdRQndBSE1BZEFCaEFI
			UUFaUUJ6Q2dBQUJRTUFBSUFBYlFCcEFHNEFjQUJ6QUhRQVlRQjBB
			R1VOQUFDQUFHMEFiZ0IwCkFIQUFjd0IwQUdFQWRBQmxEUUFBZ0FC
			dUFIQUFjd0IwQUdFQWRBQmxBSFAvQVA4QS93RC9BUDhBc2dBQS93
			RUFBLzhBQ3c4QUFQOEIKQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FB
			L3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdB
			QS93RUFBLzhBQ3c4QQpBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FM
			RHdBQS93RUFBLzhBCkN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUEKQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FR
			QUQvd0FMRHdBQQovd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQv
			QVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFE
			L0FRQUQvd0FMCkR3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BB
			QUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQKL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FB
			c1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9B
			QXNQQUFELwpBUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFB
			UC9BQXNQCkFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhC
			QUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4
			QkFBUC8KQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFB
			UDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhB
			QVA4QgpBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFD
			d29BCkFBRUtBQUJrQUFBQUJRZ0FBQUVBQUFYL0FBRUFBQUFCQUFB
			QUFRWUFBR1VBQUFBT0NBQUFBZ0FBQmY4QUFRQUFBQUlBQUFBQ0Jn
			QUEKWkFBQUFBVUFBQUFDQmdBQUF3QUFCZjhBQVFBQUFBTUFBQUFE
			QmdBQVpBQUFBQU1BQUFBQ0JnQUFCQUFBQmY4QUFRQUFBQVFBQUFB
			RQpCZ0FBYVFvQUFBVUFBQVgvQUFFQUFBQUZBQUFBQlFZQUFHVUFB
			QUFPQkFBQUFRSUFBQVlBQUFYL0FBRUFBQUFHQUFBQUJnWUFBR1FB
			CkFBQURBQUFBQWdZQUFBY0FBQVgvQUFFQUFBQUhBQUFBQndZQUFH
			VUFBQUFPQkFBQUFnSUFBQWdBQUFYL0FBRUFBQUFJQUFBQUNBWUEK
			QUdRQUFBQUZBQUFBQ2dZQUFBa0FBQVgvQUFFQUFBQUpBQUFBQ1FZ
			QUFHUUFBQUFEQUFBQUFRWUFBQW9BQUFYL0FBRUFBQUFLQUFBQQpD
			Z1lBQUdjS0FBQUxBQUFGL3dBQkFBQUFDd0FBQUFzR0FBQmxBQUFB
			RGdRQUFBTUNBQUFNQUFBRi93QUJBQUFBREFBQUFBd0dBQUJrCkFB
			QUFBd0FBQUFFR0FBQU5BQUFGL3dBQkFBQUFEUUFBQUEwR0FBQmxB
			QUFBRGdRQUFBUUNBQUFPQUFBRi93QUJBQUFBRGdBQUFBNEcKQUFB
			UEFDY0pBQUFQQUFBRi93QUNBZ0FBRHdZQUFBRUFBQUFPQkFBQUJB
			SUFBQkFBQUFYL0FBSUFBQUFCQUFBQUVBWUFBQUlBQUFBRQpBUUFB
			Z0FEREFMY0FMZ0EwQUFzQUFBQVJBQUFBRUFBQUFCQUFBQUFSQUFB
			QUF3SUFBQkVHQUFBQkFBQUFEZ1FBQUFRQ0FBQVNBQUFGCi93QUVB
			Z0FBRWdZQUFBa0FBQUFFQUFBQXlBWUFBQk1BQUFYL0FBUUFBQUFC
			QUFBQUV3UUFBSUFBQUFBS0NnQUFGd0FBQUJRQUFBQVgKQUFBQUZB
			QUFBQVFBQUFBQ0FBQUFGQVlBQUFjQUFBQUJBQUFBOVFBQkJRQUFG
			UUFBQmY4QUJBQUFBQU1BQUFBVkJnQUFBZ0FBQUFRQQpBQURJQmdB
			QUZnQUFBQThBQUFBUEFBQUFGZ0FBQUFRQUFBQUVBQUFBRmdZQUFB
			Z0tBQUFTQUFBRi93QUZBZ0FBRndZQUFBRUFBQUFPCkJBQUFBd0lB
			QUJnQUFBWC9BQVlDQUFBWUJnQUFBZ0FBQUFRQUFBQThBQThGQUFB
			Y0FBQUFHUUFBQUJ3QUFBQVpBQUFBQmdBQUFBRUEKQUFBWkJnQUFC
			d0FBQUFFQUFBRDFBQUVGQUFBYUFBQUYvd0FHQUFBQUFnQUFBQm9H
			QUFBQ0FBQUFCQUFBQUtBQUR3VUFBQnNBQUFBUApBQUFBRHdBQUFC
			c0FBQUFHQUFBQUF3QUFBQnNHQUFBSUNnQUFHQUFBQmY4QUJ3SUFB
			QndHQUFBQkFBQUFEZ1FBQUFJQ0FBQWRBQUFGCi93QUlBZ0FBSFFZ
			QUFBSUFBQUFFQUFBQVpBQVpCUUFBSVFBQUFCNEFBQUFoQUFBQUhn
			QUFBQWdBQUFBQkFBQUFIZ1lBQUFjQUFBQUIKQUFBQTlRQUJCUUFB
			SHdBQUJmOEFDQUFBQUFJQUFBQWZCZ0FBQWdBQUFBUUFBQUNnQUE4
			RkFBQWdBQUFBRHdBQUFBOEFBQUFnQUFBQQpDQUFBQUFNQUFBQWdC
			Z0FBQ0FvQUFCMEFBQVgvQUFrQ0FBQWhCZ0FBQVFBQUFBNEVBQUFC
			QWdBQUlnQUFCZjhBQ2dJQUFDSUdBQUFDCkFBQUFCQUFBQUtBQUR3
			VUFBQ1lBQUFBakFBQUFKZ0FBQUNNQUFBQUtBQUFBQVFBQUFDTUdB
			QUFIQUFBQUFRQUFBUFVBQVFVQUFDUUEKQUFYL0FBb0FBQUFDQUFB
			QUpBWUFBQUlBQUFBRUFBQUFvQUFQQlFBQUpRQUFBQThBQUFBUEFB
			QUFKUUFBQUFvQUFBQURBQUFBSlFZQQpBQWdLQUFBaUFBQUYvd0FM
			QWdBQUpnWUFBQUVBQUFBT0NBQUFKd0FBQmY4QURBSUFBQ2NHQUFB
			Q0FBQUFCQUVBQUlBQXd3QzNBQzRBCk5BQUxBQUFBSndBQUFDZ0FB
			QUFuQUFBQUtBQUFBQXdBQUFBQkFBQUFLQVlBQUFjQUFBQUJBQUFB
			OVFBQkJRQUFLUUFBQmY4QURBQUEKQUFJQUFBQXBCZ0FBQWdBQUFB
			UUFBQUNnQUE4RkFBQXFBQUFBRHdBQUFBOEFBQUFxQUFBQURBQUFB
			QU1BQUFBcUJnQUFDQW9BQUNjQQpBQVgvCjwvZGF0YT4KICAgICAg
			ICA8a2V5PkJhY2tncm91bmQ8L2tleT4KICAgICAgICA8ZGF0YT4K
			Y2dVQUFBQUFBUUlFQUFBQkFnQUFZZ0JuQUdrQWRnQmlBSEFBWlFG
			bUFISUFNQWdBQUFJQ0FBZi9Cd0FBRkFBQUFBa0VBQUFDQUlFQQpZ
			Z0JuQUhBQWN3QjBBR0VBZEFCbEFITUlBQUFDQXdBQWdBQnRBR2tB
			YmdCd0FITUFkQUJoQUhRQVpRMEFBSUFBYlFCdUFIUUFjQUJ6CkFI
			UUFZUUIwQUdVTkFBQ0FBRzRBY0FCekFIUUFZUUIwQUdVQWMvOEEv
			d0QvQVA4QS93Q3lBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEEKQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQQpBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBCi93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VB
			QS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUwKRHdBQS93
			RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEv
			d0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRAovd0FMRHdB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3
			QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvCkFRQUQvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1AKQUFEL0FRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQLwpBQXNQQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCCkFBUC9BQXNQQUFE
			L0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEEKQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QQpDdzhBQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTENnQUFBUW9BCkFHUUFBQUFGQUFBQUNn
			WUFBQUVBQUFYL0FBRUFBQUFCQUFBQUFRWUFBR1FBQUFBREFBQUFB
			UVlBQUFJQUFBWC9BQUVBQUFBQ0FBQUEKQWdZQUFHY0tBQUFEQUFB
			Ri93QUJBQUFBQXdBQUFBTUdBQUJsQUFBQURnZ0FBQVFBQUFYL0FB
			RUFBQUFFQUFBQUJBWUFBR1FBQUFBRApBQUFBQVFZQUFBVUFBQVgv
			QUFFQUFBQUZBQUFBQlFZQUFHVUFBQUFPQkFBQUFRSUFBQVlBQUFY
			L0FBRUFBQUFHQUFBQUJnWUFBQThBCkp3a0FBQWNBQUFYL0FBSUNB
			QUFIQmdBQUFRQUFBQTRFQUFBQkFnQUFDQUFBQmY4QUFnQUFBQUVB
			QUFBSUJnQUFBZ0FBQUFRQkFBQ0EKQU1NQXR3QXVBRFFBQ3dBQUFB
			a0FBQUFJQUFBQUNBQUFBQWtBQUFBREFnQUFDUVlBQUFFQUFBQU9C
			QUFBQVFJQUFBb0FBQVgvQUFRQwpBQUFLQmdBQUNRQUFBQVFBQUFE
			SUJnQUFDd0FBQmY4QUJBQUFBQUVBQUFBTEJBQUFnQUFBQUFvS0FB
			QVBBQUFBREFBQUFBOEFBQUFNCkFBQUFCQUFBQUFJQUFBQU1CZ0FB
			QndBQUFBRUFBQUQxQUFFRkFBQU5BQUFGL3dBRUFBQUFBd0FBQUEw
			R0FBQUNBQUFBQkFBQUFNZ0cKQUFBT0FBQUFCd0FBQUFjQUFBQU9B
			QUFBQkFBQUFBUUFBQUFPQmdBQUNBb0FBQW9BQUFYL0FBVUNBQUFQ
			QmdBQUFRQUFBQTRJQUFBUQpBQUFGL3dBR0FnQUFFQVlBQUFJQUFB
			QUVBUUFBZ0FEREFMY0FMZ0EwQUFzQUFBQVFBQUFBRVFBQUFCQUFB
			QUFSQUFBQUJnQUFBQUVBCkFBQVJCZ0FBQndBQUFBRUFBQUQxQUFF
			RkFBQVNBQUFGL3dBR0FBQUFBZ0FBQUJJR0FBQUNBQUFBQkFBQUFN
			Z0dBQUFUQUFBQUJ3QUEKQUFjQUFBQVRBQUFBQmdBQUFBTUFBQUFU
			QmdBQUNBb0FBQkFBQUFYLwo8L2RhdGE+CiAgICAgICAgPGtleT5S
			ZWFsVGltZTwva2V5PgogICAgICAgIDxkYXRhPgpSZ1lBQUFBQUFR
			SUVBQUFEQWdBQWNnQjBBR2tBZGdCaUFHMEFZZ0J3QUhJQWJ3QnlB
			REFMQUEvL0FCc0FBQUFMQkFBQUFnQ0JBSElBCmRBQndBSE1BZEFC
			aEFIUUFaUUJ6Q0FBQUF3TUFBSUFBYlFCcEFHNEFjQUJ6QUhRQVlR
			QjBBR1VOQUFDQUFHMEFiZ0IwQUhBQWN3QjAKQUdFQWRBQmxEUUFB
			Z0FCdUFIQUFjd0IwQUdFQWRBQmxBSFAvQVA4QS93RC9BUDhBc2dB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUApBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvCkFBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QUFQOEIKQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBQ3c4QQpBUDhCQUFQL0FBc1BBQUQv
			QVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFE
			L0FRQUQvd0FMRHdBQS93RUFBLzhBCkN3OEFBUDhCQUFQL0FBc1BB
			QUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQ
			QUFEL0FRQUQvd0FMRHdBQS93RUEKQS84QUN3OEFBUDhCQUFQL0FB
			c1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQQovd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFB
			UC9BQXNQQUFEL0FRQUQvd0FMCkR3QUEvd0VBQS84QUN3OEFBUDhC
			QUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4
			QkFBUC9BQXNQQUFEL0FRQUQKL3dBTER3QUEvd0VBQS84QUN3OEFB
			UDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhB
			QVA4QkFBUC9BQXNQQUFELwpBUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFD
			dzhBQVA4QkFBUC9BQXNQCkFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEv
			OEFDd29BQUFFS0FBQmsKQUFBQUJRZ0FBQUVBQUFYL0FBRUFBQUFC
			QUFBQUFRWUFBR1VBQUFBT0NBQUFBZ0FBQmY4QUFRQUFBQUlBQUFB
			Q0JnQUFaQUFBQUFVQQpBQUFLQmdBQUF3QUFCZjhBQVFBQUFBTUFB
			QUFEQmdBQVpBQUFBQU1BQUFBQkJnQUFCQUFBQmY4QUFRQUFBQVFB
			QUFBRUJnQUFad29BCkFBVUFBQVgvQUFFQUFBQUZBQUFBQlFZQUFH
			VUFBQUFPQkFBQUFRSUFBQVlBQUFYL0FBRUFBQUFHQUFBQUJnWUFB
			R1FBQUFBREFBQUEKQVFZQUFBY0FBQVgvQUFFQUFBQUhBQUFBQndZ
			QUFHVUFBQUFPQkFBQUFnSUFBQWdBQUFYL0FBRUFBQUFJQUFBQUNB
			WUFBQThBSndrQQpBQWtBQUFYL0FBSUNBQUFKQmdBQUFRQUFBQTRF
			QUFBQ0FnQUFDZ0FBQmY4QUFnQUFBQUVBQUFBS0JnQUFBZ0FBQUFR
			QkFBQ0FBTU1BCnR3QXVBRFFBQ3dBQUFBc0FBQUFLQUFBQUNnQUFB
			QXNBQUFBREFnQUFDd1lBQUFFQUFBQU9CQUFBQWdJQUFBd0FBQVgv
			QUFRQ0FBQU0KQmdBQUNRQUFBQVFBQUFESUJnQUFEUUFBQmY4QUJB
			QUFBQUVBQUFBTkJBQUFnQUFBQUFvS0FBQVJBQUFBRGdBQUFCRUFB
			QUFPQUFBQQpCQUFBQUFJQUFBQU9CZ0FBQndBQUFBRUFBQUQxQUFF
			RkFBQVBBQUFGL3dBRUFBQUFBd0FBQUE4R0FBQUNBQUFBQkFBQUFN
			Z0dBQUFRCkFBQUFDUUFBQUFrQUFBQVFBQUFBQkFBQUFBUUFBQUFR
			QmdBQUNBb0FBQXdBQUFYL0FBVUNBQUFSQmdBQUFRQUFBQTRFQUFB
			QkFnQUEKRWdBQUJmOEFCZ0lBQUJJR0FBQUNBQUFBQkFBQUFKZ0FD
			QVVBQUJZQUFBQVRBQUFBRmdBQUFCTUFBQUFHQUFBQUFRQUFBQk1H
			QUFBSApBQUFBQVFBQUFQVUFBUVVBQUJRQUFBWC9BQVlBQUFBQ0FB
			QUFGQVlBQUFJQUFBQUVBQUFBeUFZQUFCVUFBQUFKQUFBQUNRQUFB
			QlVBCkFBQUdBQUFBQXdBQUFCVUdBQUFJQ2dBQUVnQUFCZjhBQndJ
			QUFCWUdBQUFCQUFBQURnZ0FBQmNBQUFYL0FBZ0NBQUFYQmdBQUFn
			QUEKQUFRQkFBQ0FBTU1BdHdBdUFEUUFDd0FBQUJjQUFBQVlBQUFB
			RndBQUFCZ0FBQUFJQUFBQUFRQUFBQmdHQUFBSEFBQUFBUUFBQVBV
			QQpBUVVBQUJrQUFBWC9BQWdBQUFBQ0FBQUFHUVlBQUFJQUFBQUVB
			QUFBeUFZQUFCb0FBQUFKQUFBQUNRQUFBQm9BQUFBSUFBQUFBd0FB
			CkFCb0dBQUFJQ2dBQUZ3QUFCZjg9CjwvZGF0YT4KICAgICAgPC9k
			aWN0PgogICAgICA8a2V5PlVuaWZpZWRTbGVlcFNsaWRlclByZWY8
			L2tleT4KICAgICAgPHRydWUvPgogICAgICA8a2V5PkRhcmtXYWtl
			U2VydmljZXM8L2tleT4KICAgICAgPGRpY3Q+CiAgICAgICAgPGtl
			eT5EYXJrV2FrZUJhY2tncm91bmRUYXNrczwva2V5PgogICAgICAg
			IDxpbnRlZ2VyPjE8L2ludGVnZXI+CiAgICAgICAgPGtleT5TbGVl
			cFNlcnZpY2VzPC9rZXk+CiAgICAgICAgPGludGVnZXI+NzwvaW50
			ZWdlcj4KICAgICAgICA8a2V5PlNsZWVwU2VydmljZXNNb2Rlczwv
			a2V5PgogICAgICAgIDxkaWN0PgogICAgICAgICAgPGtleT5Nb2Rl
			QTwva2V5PgogICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgIDxr
			ZXk+RXhwaXJhdGlvbjwva2V5PgogICAgICAgICAgICA8aW50ZWdl
			cj4wPC9pbnRlZ2VyPgogICAgICAgICAgICA8a2V5PkJhdHRlcnlG
			bG9vcjwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4zMDwvaW50
			ZWdlcj4KICAgICAgICAgICAgPGtleT5CYXNlSW50ZXJ2YWxzPC9r
			ZXk+CiAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgIDxr
			ZXk+QUM8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAg
			ICAgICAgICAgIDxrZXk+QmFzZVNsZWVwSW50ZXJ2YWw8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjM2MDA8L2ludGVnZXI+
			CiAgICAgICAgICAgICAgICA8a2V5PkJhc2VXYWtlQ2FwSW50ZXJ2
			YWw8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjg2NDAw
			PC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAg
			ICAgICAgICA8a2V5PkJhdHRlcnk8L2tleT4KICAgICAgICAgICAg
			ICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+QmFzZVNsZWVw
			SW50ZXJ2YWw8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2Vy
			PjM2MDA8L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5PkJh
			c2VXYWtlQ2FwSW50ZXJ2YWw8L2tleT4KICAgICAgICAgICAgICAg
			IDxpbnRlZ2VyPjE4MDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8
			L2RpY3Q+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDwv
			ZGljdD4KICAgICAgICA8L2RpY3Q+CiAgICAgIDwvZGljdD4KICAg
			IDwvZGljdD4KICA8L2RpY3Q+CjwvcGxpc3Q+Cg==
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
