<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.driver.IOPlatformPluginFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.mach</key>
		<string>8.3.1</string>
		<key>com.apple.kpi.private</key>
		<string>14.0.0</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>AGPM-Override</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.AGPM-Override</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AGPM-Override</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>9.9.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>9.9.9</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>Mac-B4831CEBD52A0C4C</key>
				<dict>
					<key>IGPU</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>EnableOverride</key>
							<integer>0</integer>
							<key>ID</key>
							<integer>2</integer>
						</dict>
						<key>control-id</key>
						<integer>16</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Dortania</string>
</dict>
</plist>
