<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBTCKeyboard</string>
	<key>CFBundleGetInfoString</key>
	<string>256</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBTCKeyboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBTCKeyboard</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>256</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>256</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21F69</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.4</string>
	<key>DTSDKBuild</key>
	<string>21F69</string>
	<key>DTSDKName</key>
	<string>macosx12.4.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Wellspring Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Wellspring Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>548</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Wellspring Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>549</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringII Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>560</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringII Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>561</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringII Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>562</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIII Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>566</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIII Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>567</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIII Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>568</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIV Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>575</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIV Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>576</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIV Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>577</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIVa Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>578</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIVa Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>579</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringIVa Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>580</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringV Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>581</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringV Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>582</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringV Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>583</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVI Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>585</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVI Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>586</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVI Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>587</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVII Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>601</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVII Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>602</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVII Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>603</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIII Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>610</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIII Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>611</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIII Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>612</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIa Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>588</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIa Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>589</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVIa Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>590</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVa Keyboard ANSI</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>43</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>594</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVa Keyboard ISO</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>44</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>595</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>WellspringVa Keyboard JIS</key>
		<dict>
			<key>Built-In</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBTCKeyboard</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleUSBTCKeyboard</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>alt_handler_id</key>
			<integer>45</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>596</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.4</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.IOUSBHostHIDDevice</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.2.1</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
